{% set flash = _view.loadHelper('Flash') %}
<div class="login wrap">
    {{ form.create('User', {'url': {'plugin' : 'users','controller' : 'users', 'action' : 'login'}}) }}
        <h1>Вход</h1>
        {{ flash.render() }}
        {{ form.input('username', {
            'type': 'text',
            'div': false,
            'class': '',
            'required': true,
            'label': false,
            'placeholder': 'Номер телефона',
        }) }}
        {{ form.input('password', {
            'type': 'password',
            'required': true,
            'label': false,
            'div': false,
            'class': '',
            'placeholder': 'Пароль',
        }) }}
        <button type="submit" class="btn">Вход</button>
     {{ form.end() }}
</div>
