{{ html.script(['https://api-maps.yandex.ru/2.1/?lang=ru_RU', 'Agency.filter-map-site', 'YandexMaps.simplify','/uploads/assets/js/map.js?v=3'], {'block': 'scriptCustom'}) }}
{% set adView = _view.loadHelper('Agency.AdView') %}
{% set Price = _view.loadHelper('Agency.Price') %}
{% set adSeo = _view.loadHelper('Agency.AdSeo') %}
{% set favorite = _view.loadHelper('Favorites.Favorite') %}
{% set complexCategory = _view.loadHelper('ComplexCategories.ComplexCategory') %}
{{ adView.setOgparh(advertisement) }}
{{ adSeo.imageSrcLink(advertisement) }}
{{ adView.setDefaults({default_picture: config.Site.no_photo_image}) }}
{% set title = adSeo.pattern_title(advertisement) %}
{{ _view.assign('title', title) }}
{{ _view.Html.script('/uploads/assets/js/favorites.js', {'block': 'scriptCustom'}) }}

{% set currencyActive = currencyActive|lower %}
{% set offerAdvertisement = adView.getInfo(advertisement) %}

{# Инициализируем переменные с параметрами категории #}
{% set paramsValues = advertisement.CategoryParamValues ?? [] %}
{% set site_area = complexCategory.getViewAliasesOptions('site_area', paramsValues) %}
{% set plot_area = complexCategory.getViewAliasesOptions('plot_area', paramsValues) %}
{% set lot_type = complexCategory.getViewAliasesOptions('lot_type', paramsValues) %}
{% set area_buildings = complexCategory.getViewAliasesOptions('area_buildings', paramsValues) %}
{% set house_area = complexCategory.getViewAliasesOptions('house_area', paramsValues) %}
{% set area_house = complexCategory.getViewAliasesOptions('area_house', paramsValues) %}
{% set spalen = complexCategory.getViewAliasesOptions('spalen', paramsValues) %}
{% set tualet = complexCategory.getViewAliasesOptions('tualet', paramsValues) %}
{% set electricity_supply = complexCategory.getViewAliasesOptions('electricity_supply', paramsValues) %}
{% set water = complexCategory.getViewAliasesOptions('water', paramsValues) %}
{% set sewerage_supply = complexCategory.getViewAliasesOptions('sewerage_supply', paramsValues) %}
{% set gas_supply = complexCategory.getViewAliasesOptions('gas_supply', paramsValues) %}
{% set number_of_floors = complexCategory.getViewAliasesOptions('number_of_floors', paramsValues) %}
{% set object_type = complexCategory.getViewAliasesOptions('object_type', paramsValues) %}
{% set avtomob = complexCategory.getViewAliasesOptions('avtomob', paramsValues) %}
{% set aeroport = complexCategory.getViewAliasesOptions('aeroport', paramsValues) %}
{% set vokzal = complexCategory.getViewAliasesOptions('vokzal', paramsValues) %}
{% set olimpik = complexCategory.getViewAliasesOptions('olimpik', paramsValues) %}
{% set estosadok = complexCategory.getViewAliasesOptions('estosadok', paramsValues) %}
{% set end_street = complexCategory.getViewAliasesOptions('end_street', paramsValues) %}
{% set panoramic_windows = complexCategory.getViewAliasesOptions('panoramic_windows', paramsValues) %}
{% set aluminum_window = complexCategory.getViewAliasesOptions('aluminum_window', paramsValues) %}
{% set region = complexCategory.getViewAliasesOptions('region', paramsValues) %}
{% set children_playground = complexCategory.getViewAliasesOptions('children_playground', paramsValues) %}
{% set work_out = complexCategory.getViewAliasesOptions('work_out', paramsValues) %}
{% set free_layout = complexCategory.getViewAliasesOptions('free_layout', paramsValues) %}
{% set before_school = complexCategory.getViewAliasesOptions('before_school', paramsValues) %}
{% set fireplace = complexCategory.getViewAliasesOptions('fireplace', paramsValues) %}
{% set supply_exhaust = complexCategory.getViewAliasesOptions('supply_exhaust', paramsValues) %}
{% set material = complexCategory.getViewAliasesOptions('material', paramsValues) %}
{% set foundation = complexCategory.getViewAliasesOptions('foundation', paramsValues) %}
{% set facade_decoration = complexCategory.getViewAliasesOptions('facade_decoration', paramsValues) %}
{% set facade_insulation = complexCategory.getViewAliasesOptions('facade_insulation', paramsValues) %}
{% set house_rented = complexCategory.getViewAliasesOptions('house_rented', paramsValues) %}
{% set recreation_areas = complexCategory.getViewAliasesOptions('recreation_areas', paramsValues) %}
{% set renovation = complexCategory.getViewAliasesOptions('renovation', paramsValues) %}
{% set interior_decoration = complexCategory.getViewAliasesOptions('interior_decoration', paramsValues) %}
{% set bath_house = complexCategory.getViewAliasesOptions('bath_house', paramsValues) %}
{% set swimming_pool = complexCategory.getViewAliasesOptions('swimming_pool', paramsValues) %}
{% set guest_house = complexCategory.getViewAliasesOptions('guest_house', paramsValues) %}
{% set pool_size = complexCategory.getViewAliasesOptions('pool_size', paramsValues) %}
{% set pool_functions = complexCategory.getViewAliasesOptions('pool_functions', paramsValues) %}
{% set landscape = complexCategory.getViewAliasesOptions('landscape', paramsValues) %}
{% set automatic_watering = complexCategory.getViewAliasesOptions('automatic_watering', paramsValues) %}
{% set fence = complexCategory.getViewAliasesOptions('fence', paramsValues) %}
{% set altitude = complexCategory.getViewAliasesOptions('altitude', paramsValues) %}
{% set view_house = complexCategory.getViewAliasesOptions('view_house', paramsValues) %}
{% set security = complexCategory.getViewAliasesOptions('security', paramsValues) %}
{% set place_car = complexCategory.getViewAliasesOptions('place_car', paramsValues) %}
{% set names_trees = complexCategory.getViewAliasesOptions('names_trees', paramsValues) %}
{% set zagolovok = complexCategory.getViewAliasesOptions('zagolovok', paramsValues) %}
{% set vblizi = complexCategory.getViewAliasesOptions('vblizi', paramsValues) %}
{% set part = complexCategory.getViewAliasesOptions('part', paramsValues) %}
{% set registered = complexCategory.getViewAliasesOptions('registered', paramsValues) %}

{% set gallery = adView.getGallery(advertisement) %}
{% set galleryList = gallery.items ?: [gallery.first] %}


<div class="detail wrap">
    <div class="breadcrumbs">
        <ul>
            <li><a href="/?locality_id={{ advertisement.Location.Locality.id }}">{{ advertisement.Location.Locality.title }}</a></li>
            <li><a href="/?category_id={{ advertisement.Advertisement.category_id }}">{{ advertisement.Category.title }}</a></li>
            <li><a href="/?county_id={{ advertisement.Location.County.id }}">{{ advertisement.Location.County.title }} район</a></li>
        </ul>
    </div>

    <div class="all-inf">
        <div class="content">
            <div class="heading">
                {% set zagolovok = complexCategory.getViewAliasesOptions('zagolovok', paramsValues) %}
                {% if zagolovok %}
                    {% set zagolovok = zagolovok %}
                    <h1>{{ zagolovok }}</h1>
                {% else %}
                    {% set zagolovok = advertisement.Advertisement.title %}
                    <h1>{{ zagolovok }}</h1>
                {% endif %}
                {% set price = Price.format(advertisement.Advertisement.price) %}
                {% set priceArea = (advertisement.Advertisement.price / house_area)|round %}
                {% set priceArea = Price.format(priceArea) %}
                <p>{{ price }} ₽ <span>{{ priceArea }} ₽ за м² {% if session.read('Auth.User.id') and part %}<i class="commission">комиссия {{ part }} %</i>{% endif %}</span></p>
                <div class="interface">
                    <div class="group">
                        <a href="#" class="mob out"><img src="/uploads/assets/images/icon/out.svg" alt=""></a>
                        {% set isFavorite = favorite.has('Advertisement', advertisement.Advertisement.id) %}
                        <a href="#" class="favorite {{ isFavorite ? 'active' : ''}}" data-favorite="{{ isFavorite ? 'remove' : 'add'}}"
                           data-favorite-invert="{{ isFavorite ? 'add' : 'remove'}}" data-favorite-id="{{ advertisement.Advertisement.id }}"><span>добавить в избранное</span>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 2C2.7912 2 1 3.73964 1 5.88594C1 7.61852 1.7 11.7305 8.5904 15.8873C8.71383 15.961 8.85552 16 9 16C9.14448 16 9.28617 15.961 9.4096 15.8873C16.3 11.7305 17 7.61852 17 5.88594C17 3.73964 15.2088 2 13 2C10.7912 2 9 4.35511 9 4.35511C9 4.35511 7.2088 2 5 2Z" stroke="#52758E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                        </a>
                        <a href="#" class="share" data-attr-title="{{ zagolovok }}" data-attr-url="{{ offerItem.url }}"><span>поделиться</span>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.9092 6.16756C13.3262 6.16756 12.7883 5.95005 12.3669 5.58681L8.12875 8.84726C8.19971 9.26147 8.19971 9.6859 8.12875 10.1001L12.3669 13.3606C12.7883 12.9973 13.3262 12.7798 13.9092 12.7798C15.2633 12.7798 16.3637 13.95 16.3637 15.3899C16.3637 16.8298 15.2633 18 13.9092 18C12.5551 18 11.4547 16.8298 11.4547 15.3899C11.4547 15.1376 11.4874 14.8962 11.5508 14.6656L7.52534 11.5661C6.92807 12.4079 5.97897 12.9538 4.9092 12.9538C3.10102 12.9538 1.63647 11.3965 1.63647 9.47368C1.63647 7.55091 3.10102 5.99356 4.9092 5.99356C5.97897 5.99356 6.92807 6.5395 7.52534 7.38126L11.5508 4.28177C11.4874 4.05121 11.4547 3.8076 11.4547 3.55746C11.4547 2.11756 12.5551 0.947369 13.9092 0.947369C15.2633 0.947369 16.3637 2.11756 16.3637 3.55746C16.3637 4.99737 15.2633 6.16756 13.9092 6.16756ZM13.9092 16.5209C14.4962 16.5209 14.9728 16.0142 14.9728 15.3899C14.9728 14.7657 14.4962 14.2589 13.9092 14.2589C13.3222 14.2589 12.8456 14.7657 12.8456 15.3899C12.8456 16.0142 13.3222 16.5209 13.9092 16.5209ZM4.9092 7.55961C3.91716 7.55961 3.1092 8.41877 3.1092 9.47368C3.1092 10.5286 3.91716 11.3878 4.9092 11.3878C5.90125 11.3878 6.7092 10.5286 6.7092 9.47368C6.7092 8.41877 5.90125 7.55961 4.9092 7.55961ZM13.9092 2.42642C13.3222 2.42642 12.8456 2.93322 12.8456 3.55746C12.8456 4.18171 13.3222 4.68851 13.9092 4.68851C14.4962 4.68851 14.9728 4.18171 14.9728 3.55746C14.9728 2.93322 14.4962 2.42642 13.9092 2.42642Z" fill="#52758E"/></svg>
                        </a>
                        {% if session.read('Auth.User.id') %}
                            {% set agencyCompilation = agencyIndexSite.getAgencyCompilation() %}
                            {% set hasInCompilation = false %}
                            {% set titleButtonCompilation = 'Добавить в подборку' %}
                            {% if item.Advertisement.id in attribute(agencyCompilation, 'selection') %}
                                {% set hasInCompilation = true %}
                                {% set titleButtonCompilation = 'Убрать из подборки' %}
                            {% endif %}
                            <a href="#" class="folder {{ hasInCompilation ? 'active' : ''}}" data-id="{{ advertisement.Advertisement.id }}" data-agency-compilation-id data-attr-title="{{ zagolovok }}"><span>добавить в подборку</span>
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.0129 3.90209H8.07656L6.72656 2.10083C6.61775 1.95651 6.47524 1.83919 6.3107 1.75846C6.14615 1.67773 5.96423 1.63589 5.7798 1.63636H1.98695C1.67695 1.63636 1.37966 1.75571 1.16046 1.96817C0.94126 2.18062 0.818115 2.46877 0.818115 2.76922V15.2308C0.818115 15.5312 0.94126 15.8194 1.16046 16.0318C1.37966 16.2443 1.67695 16.3636 1.98695 16.3636H16.0129C16.3229 16.3636 16.6202 16.2443 16.8394 16.0318C17.0586 15.8194 17.1818 15.5312 17.1818 15.2308V5.03496C17.1818 4.7345 17.0586 4.44635 16.8394 4.2339C16.6202 4.02145 16.3229 3.90209 16.0129 3.90209ZM16.0129 15.2308H1.98695V6.16782H6.25902C6.56902 6.16782 6.86631 6.04847 7.08551 5.83601C7.30471 5.62356 7.42786 5.33541 7.42786 5.03496H1.98695V2.76922H5.7798L7.30513 4.80272C7.35953 4.87488 7.43078 4.93354 7.51306 4.9739C7.59533 5.01427 7.68629 5.03519 7.7785 5.03496H16.0129V15.2308Z" fill="#52758E"/><path d="M9.08612 13.0909H9.73206C9.78947 13.0909 9.81818 13.0697 9.81818 13.0272V7.42725C9.81818 7.38482 9.78947 7.36361 9.73206 7.36361H9.08612C9.02871 7.36361 9 7.38482 9 7.42725V13.0272C9 13.0697 9.02871 13.0909 9.08612 13.0909Z" fill="#52758E"/><path d="M5.81292 10.6364H13.0053C13.0624 10.6364 13.0909 10.6076 13.0909 10.5502V9.9043C13.0909 9.84688 13.0624 9.81817 13.0053 9.81817H5.81292C5.75584 9.81817 5.72729 9.84688 5.72729 9.9043V10.5502C5.72729 10.6076 5.75584 10.6364 5.81292 10.6364Z" fill="#52758E"/></svg>
                            </a>
                        {% endif %}
                        <a href="/agency/realty/print_view/{{ advertisement.Advertisement.id }}.pdf?template=cPresent1&layout=default&orientation=portrait" class="pdf" target="_blank"><span>скачать pdf</span>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.9347 6.4386H15.4721L15.4964 4.7376C15.4935 4.63819 15.4552 4.54309 15.3884 4.4694L11.414 0.1206C11.3821 0.0841164 11.343 0.0545846 11.2992 0.0338384C11.2554 0.0130921 11.2078 0.00157428 11.1593 0L2.84334 0C2.65688 0.00299345 2.47886 0.0782111 2.34675 0.209819C2.21464 0.341427 2.13874 0.519159 2.13504 0.7056V6.4386H1.67154C1.41504 6.4386 1.16754 6.5448 0.987536 6.7338C0.803881 6.92589 0.701926 7.18174 0.703136 7.4475V12.6945C0.703136 13.2507 1.13694 13.7025 1.67154 13.7025H2.13504V17.2935C2.13852 17.4804 2.21457 17.6586 2.34709 17.7905C2.47961 17.9223 2.65822 17.9975 2.84514 18H14.7953C15.1688 18 15.4973 17.6832 15.4973 17.2944V13.7034H15.9356C16.4702 13.7034 16.904 13.2507 16.904 12.6936V7.4466C16.904 7.1802 16.8023 6.9228 16.6205 6.7338C16.5323 6.64098 16.4263 6.56698 16.3087 6.51624C16.1912 6.46551 16.0646 6.4391 15.9365 6.4386H15.9347ZM3.35814 1.2402H9.61854V5.3595C9.61819 5.45225 9.65365 5.54156 9.71754 5.6088C9.74853 5.64138 9.7858 5.66735 9.8271 5.68514C9.8684 5.70293 9.91287 5.71217 9.95784 5.7123H14.2409V6.4386H3.35814V1.2402ZM3.35814 16.7598V13.7025H14.2409V16.7598H3.35814ZM10.865 1.368L11.2115 1.7586L13.5335 4.3263L13.6622 4.482H11.2889C11.1089 4.482 10.9964 4.4523 10.9487 4.392C10.901 4.3335 10.8731 4.239 10.865 4.1103V1.368ZM2.50314 12.8088V7.4088H4.22934C4.88274 7.4088 5.30934 7.4358 5.50734 7.4898C5.81334 7.5708 6.06894 7.7472 6.27504 8.019C6.48024 8.2899 6.58374 8.64 6.58374 9.0702C6.58374 9.4014 6.52434 9.6804 6.40554 9.9072C6.28674 10.1322 6.13554 10.3095 5.95284 10.4382C5.78583 10.5601 5.5961 10.6473 5.39484 10.6947C5.13834 10.746 4.76664 10.7721 4.27974 10.7721H3.57864V12.8088H2.50314ZM3.57864 8.3223V9.855H4.16724C4.59114 9.855 4.87464 9.8262 5.01774 9.7704C5.15605 9.7182 5.27453 9.62397 5.35654 9.50097C5.43854 9.37796 5.47995 9.23235 5.47494 9.0846C5.4815 8.9068 5.42039 8.73312 5.30394 8.5986C5.19157 8.47173 5.03908 8.38723 4.87194 8.3592C4.74414 8.3349 4.48584 8.3232 4.09794 8.3232H3.57864V8.3223ZM7.21464 7.4088H9.18024C9.62394 7.4088 9.96144 7.443 10.1945 7.5123C10.5068 7.605 10.7741 7.7715 10.9973 8.0091C11.2196 8.2476 11.3897 8.5392 11.5058 8.8839C11.6228 9.2295 11.6804 9.6543 11.6804 10.1601C11.6804 10.6047 11.6264 10.9881 11.5166 11.3094C11.3834 11.7027 11.1926 12.0204 10.946 12.2634C10.7597 12.4479 10.5077 12.5919 10.19 12.6954C9.95334 12.771 9.63564 12.8088 9.23874 12.8088H7.21464V7.4088ZM8.29014 8.3223V11.8989H9.09294C9.39354 11.8989 9.61044 11.8818 9.74364 11.8476C9.91824 11.8026 10.0631 11.7288 10.1774 11.6226C10.2926 11.5173 10.3871 11.3436 10.4591 11.1015C10.532 10.8594 10.568 10.53 10.568 10.1124C10.568 9.6948 10.532 9.3744 10.46 9.1512C10.4029 8.95427 10.2977 8.7746 10.154 8.6283C10.0151 8.49865 9.84274 8.41043 9.65634 8.3736C9.50604 8.3394 9.21174 8.3223 8.77434 8.3223H8.29014ZM12.3518 12.8088V7.4088H16.0031V8.3223H13.4273V9.6003H15.6503V10.5138H13.4273V12.8088H12.3518Z" fill="#52758E"/></svg>
                        </a>
                    </div>
                    <div class="notes">
                        <a href="#" class="note"><span>Добавить заметку</span>
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5833 13.5H13V16.4062C13.2014 16.3281 13.3438 16.2422 13.4271 16.1484L15.3542 13.9805C15.4375 13.8867 15.5139 13.7266 15.5833 13.5ZM12.6667 12H15.6667V1.5H2.33333V16.5H11.6667V13.125C11.6667 12.8125 11.7639 12.5469 11.9583 12.3281C12.1528 12.1094 12.3889 12 12.6667 12ZM17 1.125V13.125C17 13.4375 16.9306 13.7812 16.7917 14.1562C16.6528 14.5312 16.4861 14.8281 16.2917 15.0469L14.375 17.2031C14.1806 17.4219 13.9167 17.6094 13.5833 17.7656C13.25 17.9219 12.9444 18 12.6667 18H2C1.72222 18 1.48611 17.8906 1.29167 17.6719C1.09722 17.4531 1 17.1875 1 16.875V1.125C1 0.8125 1.09722 0.546875 1.29167 0.328125C1.48611 0.109375 1.72222 0 2 0H16C16.2778 0 16.5139 0.109375 16.7083 0.328125C16.9028 0.546875 17 0.8125 17 1.125Z" fill="#52758E"/></svg>
                        </a>
                        <form action="#">
                            <input type="text">
                            <button type="submit"></button>
                        </form>

                    </div>
                </div>
            </div>
            <div class="slider">
                <div class="swiper-container-product gallery-top">
                    <div class="swiper-wrapper">
                        {% set countAll = galleryList|length %}
                        {% set preview = "" %}
                        <a href="{{ gallery.first.src }}" data-fancybox="gallery" class="swiper-slide" style="background-image:url({{ galleryItem.src }})"></a>
                        {% if advertisement.Youtube.0.url %}
                            {% set idVideo = advertisement.Youtube.0.url|replace({"https://www.youtube.com/embed/": ""}) %}
                            {% set preview = "//img.youtube.com/vi/" ~ idVideo ~ "/maxresdefault.jpg" %}
                            <a href="{{ preview }}" data-fancybox="gallery" class="swiper-slide">
                                <iframe class="video__video" width="100%" height="100%"
                                        src="{{ advertisement.Youtube.0.url }}" title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </a>
                        {% endif %}
                        {% for galleryIndex, galleryItem in galleryList %}
                            {% if galleryIndex != 0 %}
                                <a href="{{ galleryItem.src }}" data-fancybox="gallery" class="swiper-slide" style="background-image:url({{ galleryItem.src }})"></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="swiper-container-product gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div href="{{ gallery.first.src }}" class="swiper-slide" style="background-image:url({{ gallery.first.src }})"></div>
                        {% if preview %}
                            <div href="{{ preview }}" class="swiper-slide video" style="background-image:url({{ preview }})"></div>
                        {% endif %}
                        {% for galleryIndex, galleryItem in galleryList %}
                            {% if galleryIndex != 0 %}
                                <div class="swiper-slide" style="background-image:url({{ galleryItem.src }})"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tags">
                {% set arhitectyr = complexCategory.getViewAliasesOptions('arhitectyr', paramsValues) %}
                {% set renovation = complexCategory.getViewAliasesOptions('renovation', paramsValues) %}
                {% set view_house = complexCategory.getViewDataAliasesOptions('view_house', paramsValues) %}
                {% set swimming_pool = complexCategory.getViewAliasesOptions('swimming_pool', paramsValues) %}
                {% set bath_house = complexCategory.getViewAliasesOptions('bath_house', paramsValues) %}
                {% set guest_house = complexCategory.getViewAliasesOptions('guest_house', paramsValues) %}
                {% set place_car = complexCategory.getViewAliasesOptions('place_car', paramsValues) %}

                {% if advertisement.Advertisement.contract_type_id == 1 and advertisement.Youtube|length > 0 %}
                    <a href="/?with_video=1">с видео</a>
                {% endif %}

                {% if arhitectyr and (advertisement.CategoryParamValues.arhitectyr.value == 1 or advertisement.CategoryParamValues.arhitectyr.value == 2) %}
                    <a href="/?arhitectyr={{ advertisement.CategoryParamValues.arhitectyr.value }}">{{ arhitectyr }}</a>
                {% endif %}

                {% if renovation and advertisement.CategoryParamValues.renovation.value == 1 %}
                    <a href="/?renovation={{ advertisement.CategoryParamValues.renovation.value }}">с ремонтом</a>
                {% endif %}

                {% if 'море' in view_house %}
                    <a href="/?view_house=1">с видом на море</a>
                {% endif %}

                {% if swimming_pool and advertisement.CategoryParamValues.swimming_pool.value == 1 %}
                    <a href="/?swimming_pool={{ advertisement.CategoryParamValues.swimming_pool.value }}">с бассейном</a>
                {% endif %}

                {% if bath_house and advertisement.CategoryParamValues.bath_house.value == 1 %}
                    <a href="/?bath_house={{ advertisement.CategoryParamValues.bath_house.value }}">с баней</a>
                {% endif %}

                {% if advertisement.CategoryParamValues.place_car.value[0] == 1  %}
                    <a href="/?place_car=1">с гаражом</a>
                {% endif %}

                {% if guest_house and advertisement.CategoryParamValues.guest_house.value != 1 %}
                    <a href="/?guest_house={{ advertisement.CategoryParamValues.guest_house.value }}">с гостевым домом</a>
                {% endif %}
            </div>
            <div class="about-object">
                <p class="title">О доме</p>
                <ul>
                    {% if house_area %}
                        <li><span>Площадь дома:</span> {{ house_area }} м²</li>
                    {% endif %}
                    {% if area_buildings %}
                        <li><span>Площадь всех строений:</span> {{ area_buildings }} м²</li>
                    {% endif %}
                    {% if site_area %}
                        <li><span>Участок по документам:</span> {{ site_area }} соток</li>
                    {% endif %}
                    {% if building_year %}
                        <li><span>Год постройки:</span> {{ building_year }}</li>
                    {% endif %}
                    {% if lot_type %}
                        <li><span>Категория земель:</span> {{ lot_type }}</li>
                    {% endif %}
                    {% if material %}
                        <li><span>Материал стен:</span> {{ material }}</li>
                    {% endif %}
                    {% if spalen %}
                        <li><span>Спален:</span> {{ spalen }}</li>
                    {% endif %}
                    {% if tualet %}
                        <li><span>Сан. узлов:</span> {{ tualet }}</li>
                    {% endif %}
                    {% if number_of_floors %}
                        <li><span>Этажей в доме:</span> {{ number_of_floors }}</li>
                    {% endif %}
                    {% if ceiling_height %}
                        <li><span>Высота потолков:</span> {{ ceiling_height }} м</li>
                    {% endif %}
                    {% if communications %}
                        <li><span>Коммуникации:</span> {{ communications }}</li>
                    {% endif %}
                    {% if interior_decoration %}
                        <li><span>Ремонт:</span> {{ interior_decoration }}</li>
                    {% endif %}
                </ul>
                <a href="#" class="mob full">все характеристики</a>
            </div>
            <div class="location">
                <p class="title">Расположение</p>
                {% if location.title(advertisement, 'location_region, district, locality') %}
                    <p>{{ location.title(advertisement, 'location_region, district, locality') }}</p>
                {% endif %}
                <input type="hidden" id="latitude" value="{{ adView.getCoordinateSite(advertisement).latitude }}"/>
                <input type="hidden" id="longitude" value="{{ adView.getCoordinateSite(advertisement).longitude }}"/>
                <input type="hidden" id="address" value="{{ location.title(advertisement, 'country, locality, street, house_number') }}"/>
                <div id="map" style="width: 100%; height: 350px;border-radius: 15px;overflow: hidden;"></div>
            </div>
            {% if advertisement.Advertisement.text_site or advertisement.Advertisement.text %}
                {% set text = advertisement.Advertisement.text_site ? advertisement.Advertisement.text_site : advertisement.Advertisement.text %}
                <div class="description">
                    <p class="title">Описание</p>
                    <p>{{ text }}</p>
                    <a href="#" class="mob full">показать полностью</a>
                </div>
            {% endif %}
            <div class="about-object additional">
                <p class="title">Дополнительная информация</p>
                <ul>
                    {% if foundation %}
                        <li><span>Фундамент:</span> {{ foundation }}</li>
                    {% endif %}
                    {% if facade_decoration %}
                        <li><span>Фасад и внешняя отделка:</span> {{ facade_decoration }}</li>
                    {% endif %}
                    {% if registered %}
                        <li><span>Земельный участок оформлен на праве:</span> {{ registered }}</li>
                    {% endif %}
                    {% if landscape and landscape != 'отсутствует' %}
                        <li><span>Ландшафт:</span> {{ landscape }}</li>
                    {% endif %}
                    {% if automatic_watering == "да" or automatic_watering == "Да" or automatic_watering == 1 %}
                        <li><span>Автополив:</span> {{ automatic_watering }}</li>
                    {% endif %}
                    {% if fence == "да" or fence == "Да" or fence == 1 %}
                        <li><span>Забор:</span> {{ fence }}</li>
                    {% endif %}
                    {% if place_car %}
                        <li><span>Парковка:</span> {{ place_car }}</li>
                    {% endif %}
                    {% if infrastructure %}
                        <li><span>Инфраструктура:</span> {{ infrastructure }}</li>
                    {% endif %}
                    {% if security and security|lower != 'нет' %}
                        <li><span>Охрана объекта:</span> {{ security }}</li>
                    {% endif %}
{#                    {% if view_house %}#}
{#                        <li><span>Вид из дома:</span> {{ view_house }}</li>#}
{#                    {% endif %}#}
                    {% if end_street == "да" or end_street == "Да" or end_street == 1 %}
                        <li><span>Тупиковая улица:</span> {{ end_street }}</li>
                    {% endif %}
                    {% if panoramic_windows == "да" or panoramic_windows == "Да" or panoramic_windows == 1 %}
                        <li><span>Панорамные окна:</span> {{ panoramic_windows }}</li>
                    {% endif %}
                    {% if region %}
                        <li><span>Участок:</span> {{ region }}</li>
                    {% endif %}
                    {% if free_layout == "да" or free_layout == "Да" or free_layout == 1 %}
                        <li><span>Свободная планировка:</span> {{ free_layout }}</li>
                    {% endif %}
                    {% if fireplace == "да" or fireplace == "Да" or fireplace == 1 %}
                        <li><span>Камин:</span> {{ fireplace }}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="add-tags">
{#                <p>Эксплуатируемая кровля</p>#}
{#                <p>Цоколь</p>#}
{#                <p>Мангальная зона или барбекю</p>#}
{#                <p>Беседка</p>#}
{#                <p>Летняя кухня</p>#}
                {% if bath_house == "да" or bath_house == "Да" or bath_house == 1 %}
                    <p>Баня или сауна</p>
                {% endif %}
                {% if swimming_pool == "да" or swimming_pool == "Да" or swimming_pool == 1 %}
                    <p>Бассейн</p>
                {% endif %}
{#                <p>Терраса или веранда</p>#}
            </div>
            {% set retreat = similarOffers ? '' : 'pb-10' %}
            <div class="obj-footer {{ retreat }}">
                <span class="obj-id">№ {{ advertisement.Advertisement.id }}</span>
                <span class="obj-view">5469 просмотров (+154 сегодня)</span>
            </div>
        </div>
        <div class="recomends">
            <div class="cards">
                {% for item in rekomList %}
                    {% set offerItem = adView.getInfo(item) %}
                    {% set gallery = adView.getGallery(item) %}
                    {% set paramsValues = item.CategoryParamValues ?? [] %}
                    {% set arhitectyr = complexCategory.getViewAliasesOptions('arhitectyr', paramsValues) %}
                    {% set renovation = complexCategory.getViewAliasesOptions('renovation', paramsValues) %}
                    {% set view_house = complexCategory.getViewAliasesOptions('view_house', paramsValues) %}
                    {% set swimming_pool = complexCategory.getViewAliasesOptions('swimming_pool', paramsValues) %}
                    {% set bath_house = complexCategory.getViewAliasesOptions('bath_house', paramsValues) %}
                    {% set guest_house = complexCategory.getViewAliasesOptions('guest_house', paramsValues) %}
                    {% set place_car = complexCategory.getViewAliasesOptions('place_car', paramsValues) %}
                    <div class="card">
                        <a href="{{ offerItem.url }}" target="_self">
                            <div class="image">
                                <span class="rec">рекомендуем</span>
                                <div class="swiper-container-item">
                                    <div class="swiper-wrapper">
                                        {% set galleryList = gallery.items ?: [gallery.first] %}
                                        {% set galleryList = galleryList|slice(0, 6) %}
                                        {% set galleryResizeList = imageResized.resizePicture(galleryList, {'width': '379', 'height': '266', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_list', 'cache_path_size': true}) %}
                                        {% for i, galleryItem in galleryResizeList %}
                                            <div href="#" class="swiper-slide" style="background-image: url({{ galleryItem.src }});"></div>
                                        {% endfor %}
                                    </div>
                                    <!-- Add Pagination -->
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                            <div class="group">
                                <div class="inf">
                                    {% set siteArea = complexCategory.getViewAliasesOptions('site_area', paramsValues) %}
                                    {% if siteArea %}
                                        <p><img src="/uploads/assets/images/icon/square.svg" alt=""> {{ siteArea }} сот</p>
                                    {% endif %}
                                    {% set spalen = complexCategory.getViewAliasesOptions('spalen', paramsValues) %}
                                    {% if spalen %}
                                        <p><img src="/uploads/assets/images/icon/bed.svg" alt=""> {{ spalen }}</p>
                                    {% endif %}
                                    {% set house_area = complexCategory.getViewAliasesOptions('house_area', paramsValues) %}
                                    {% if house_area %}
                                        <p><img src="/uploads/assets/images/icon/squarehouse.svg" alt=""> 270 м²</p>
                                    {% endif %}
                                </div>
                                <div class="price">
                                    <p>{{ Price.format(item.Advertisement.price) }} ₽</p>
                                    {% set part = complexCategory.getViewAliasesOptions('part', paramsValues) %}
                                    {% if session.read('Auth.User.id') and part %}
                                        <p class="commission">комиссия {{ part }} %</p>
                                    {% endif %}
                                </div>
                                <div class="title">
                                    {% set zagolovok = complexCategory.getViewAliasesOptions('zagolovok', paramsValues) %}
                                    {% if zagolovok %}
                                        <p>{{ zagolovok }}</p>
                                    {% else %}
                                        <p>{{ item.Advertisement.title }}</p>
                                    {% endif %}
                                </div>
                                <div class="location">
                                    <img src="/uploads/assets/images/icon/marker-map.svg" alt="marker">
                                    {% if item.Location.Locality.title %}
                                        <object>
                                            <a href="/?locality_id={{ item.Location.Locality.id }}">
                                                <p>{{ item.Location.Locality.title }}</p>
                                            </a>
                                        </object>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <div class="group">
                            <div class="tags">
                                {% if item.Youtube|length > 0 %}
                                    <a href="?with_video=1">с видео</a>
                                {% endif %}
                                {% if arhitectyr and (item.CategoryParamValues.arhitectyr.value == 1 or item.CategoryParamValues.arhitectyr.value == 2) %}
                                    <a href="?arhitectyr={{ item.CategoryParamValues.arhitectyr.value }}">{{ arhitectyr }}</a>
                                {% endif %}
                                {% if item.CategoryParamValues.view_house.value[0] == 1  %}
                                    <a href="?view_house=1">с видом на море</a>
                                {% endif %}
                                {% if renovation and item.CategoryParamValues.renovation.value == 1 %}
                                    <a href="?renovation={{ item.CategoryParamValues.renovation.value }}">с ремонтом</a>
                                {% endif %}
                                {% if swimming_pool and item.CategoryParamValues.swimming_pool.value == 1 %}
                                    <a href="?swimming_pool={{ item.CategoryParamValues.swimming_pool.value }}">с бассейном</a>
                                {% endif %}
                                {% if bath_house and item.CategoryParamValues.bath_house.value == 1 %}
                                    <a href="?bath_house={{ item.CategoryParamValues.bath_house.value }}">с баней</a>
                                {% endif %}
                                {% if item.CategoryParamValues.place_car.value[0] == 1  %}
                                    <a href="?place_car=1">с гаражом</a>
                                {% endif %}
                                {% if guest_house and item.CategoryParamValues.guest_house.value != 1 %}
                                    <a href="?guest_house={{ item.CategoryParamValues.guest_house.value }}">с гостевым домом</a>
                                {% endif %}
                            </div>
                            <div class="interface">
                                {% set isFavorite = favorite.has('Advertisement', item.Advertisement.id) %}
                                <a href="#" class="favorite {{ isFavorite ? 'active' : ''}}" data-favorite="{{ isFavorite ? 'remove' : 'add'}}"
                                   data-favorite-invert="{{ isFavorite ? 'add' : 'remove'}}" data-favorite-id="{{ item.Advertisement.id }}"></a>
                                <a href="#" class="share" data-attr-title="{{ item.Advertisement.title ? item.Advertisement.title : item.Location.SubLocality.title }}" data-attr-url="/agency/realty/view/{{ item.Advertisement.id }}"></a>
                                <a href="/agency/realty/print_view/{{ item.Advertisement.id }}.pdf?template=cPresent1&layout=default&orientation=portrait" class="pdf" target="_blank"></a>
                                {% if session.read('Auth.User.id') %}
                                    {% set agencyCompilation = agencyIndexSite.getAgencyCompilation() %}
                                    {% set hasInCompilation = false %}
                                    {% set titleButtonCompilation = 'Добавить в подборку' %}
                                    {% if item.Advertisement.id in attribute(agencyCompilation, 'selection') %}
                                        {% set hasInCompilation = true %}
                                        {% set titleButtonCompilation = 'Убрать из подборки' %}
                                    {% endif %}
                                    <a href="#" title="{{ titleButtonCompilation }}" data-id="{{ item.Advertisement.id }}" data-agency-compilation-id="{{ attribute(agencyCompilation, 'id') }}" class="folder {{ hasInCompilation ? 'active' : ''}} collection"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!----------------- ADD OBJECTS START ------------------>
{% if similarOffers %}
    <div class="add-objects">
        <div class="wrap">
            <p class="title">Похожие объявления</p>
            <div class="cards-wrapper">
                <div class="cards">
                    {% for item in similarOffers %}
                        {% set offerItem = adView.getInfo(item) %}
                        {% set gallery = adView.getGallery(item) %}
                        {% set paramsValues = item.CategoryParamValues ?? [] %}
                        {% set arhitectyr = complexCategory.getViewAliasesOptions('arhitectyr', paramsValues) %}
                        {% set renovation = complexCategory.getViewAliasesOptions('renovation', paramsValues) %}
                        {% set view_house = complexCategory.getViewAliasesOptions('view_house', paramsValues) %}
                        {% set swimming_pool = complexCategory.getViewAliasesOptions('swimming_pool', paramsValues) %}
                        {% set bath_house = complexCategory.getViewAliasesOptions('bath_house', paramsValues) %}
                        {% set guest_house = complexCategory.getViewAliasesOptions('guest_house', paramsValues) %}
                        {% set place_car = complexCategory.getViewAliasesOptions('place_car', paramsValues) %}
                        <div class="card">
                            <a href="{{ offerItem.url }}" target="_self">
                                <div class="image">
                                    <div class="swiper-container-item">
                                        <div class="swiper-wrapper">
                                            {% set galleryList = gallery.items ?: [gallery.first] %}
                                            {% set galleryList = galleryList|slice(0, 6) %}
                                            {% set galleryResizeList = imageResized.resizePicture(galleryList, {'width': '379', 'height': '266', 'mode': 'crop', 'paddings': false, 'folder': 'twig_crop_realty_list', 'cache_path_size': true}) %}
                                            {% for i, galleryItem in galleryResizeList %}
                                                <div href="#" class="swiper-slide" style="background-image: url({{ galleryItem.src }});"></div>
                                            {% endfor %}
                                        </div>
                                        <!-- Add Pagination -->
                                        <div class="swiper-pagination"></div>
                                    </div>
                                </div>
                                <div class="group">
                                    <div class="inf">
                                        {% set siteArea = complexCategory.getViewAliasesOptions('site_area', paramsValues) %}
                                        {% if siteArea %}
                                            <p><img src="/uploads/assets/images/icon/square.svg" alt=""> {{ siteArea }} сот</p>
                                        {% endif %}
                                        {% set spalen = complexCategory.getViewAliasesOptions('spalen', paramsValues) %}
                                        {% if spalen %}
                                            <p><img src="/uploads/assets/images/icon/bed.svg" alt=""> {{ spalen }}</p>
                                        {% endif %}
                                        {% set house_area = complexCategory.getViewAliasesOptions('house_area', paramsValues) %}
                                        {% if house_area %}
                                            <p><img src="/uploads/assets/images/icon/squarehouse.svg" alt=""> 270 м²</p>
                                        {% endif %}
                                    </div>
                                    <div class="price">
                                        <p>{{ Price.format(item.Advertisement.price) }} ₽</p>
                                        {% set part = complexCategory.getViewAliasesOptions('part', paramsValues) %}
                                        {% if session.read('Auth.User.id') and part %}
                                            <p class="commission">комиссия {{ part }} %</p>
                                        {% endif %}
                                    </div>
                                    <div class="title">
                                        {% set zagolovok = complexCategory.getViewAliasesOptions('zagolovok', paramsValues) %}
                                        {% if zagolovok %}
                                            <p>{{ zagolovok }}</p>
                                        {% else %}
                                            <p>{{ item.Advertisement.title }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="location">
                                        <img src="/uploads/assets/images/icon/marker-map.svg" alt="marker">
                                        {% if item.Location.Locality.title %}
                                            <object>
                                                <a href="/?locality_id={{ item.Location.Locality.id }}">
                                                    <p>{{ item.Location.Locality.title }}</p>
                                                </a>
                                            </object>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                            <div class="group">
                                <div class="tags">
                                    {% if item.Youtube|length > 0 %}
                                        <a href="?with_video=1">с видео</a>
                                    {% endif %}
                                    {% if arhitectyr and (item.CategoryParamValues.arhitectyr.value == 1 or item.CategoryParamValues.arhitectyr.value == 2) %}
                                        <a href="?arhitectyr={{ item.CategoryParamValues.arhitectyr.value }}">{{ arhitectyr }}</a>
                                    {% endif %}
                                    {% if item.CategoryParamValues.view_house.value[0] == 1  %}
                                        <a href="?view_house=1">с видом на море</a>
                                    {% endif %}
                                    {% if renovation and item.CategoryParamValues.renovation.value == 1 %}
                                        <a href="?renovation={{ item.CategoryParamValues.renovation.value }}">с ремонтом</a>
                                    {% endif %}
                                    {% if swimming_pool and item.CategoryParamValues.swimming_pool.value == 1 %}
                                        <a href="?swimming_pool={{ item.CategoryParamValues.swimming_pool.value }}">с бассейном</a>
                                    {% endif %}
                                    {% if bath_house and item.CategoryParamValues.bath_house.value == 1 %}
                                        <a href="?bath_house={{ item.CategoryParamValues.bath_house.value }}">с баней</a>
                                    {% endif %}
                                    {% if item.CategoryParamValues.place_car.value[0] == 1  %}
                                        <a href="?place_car=1">с гаражом</a>
                                    {% endif %}
                                    {% if guest_house and item.CategoryParamValues.guest_house.value != 1 %}
                                        <a href="?guest_house={{ item.CategoryParamValues.guest_house.value }}">с гостевым домом</a>
                                    {% endif %}
                                </div>
                                <div class="interface">
                                    {% set isFavorite = favorite.has('Advertisement', item.Advertisement.id) %}
                                    <a href="#" class="favorite {{ isFavorite ? 'active' : ''}}" data-favorite="{{ isFavorite ? 'remove' : 'add'}}"
                                       data-favorite-invert="{{ isFavorite ? 'add' : 'remove'}}" data-favorite-id="{{ item.Advertisement.id }}"></a>
                                    <a href="#" class="share" data-attr-title="{{ item.Advertisement.title ? item.Advertisement.title : item.Location.SubLocality.title }}" data-attr-url="/agency/realty/view/{{ item.Advertisement.id }}"></a>
                                    <a href="/agency/realty/print_view/{{ item.Advertisement.id }}.pdf?template=cPresent1&layout=default&orientation=portrait" class="pdf" target="_blank"></a>
                                    {% if session.read('Auth.User.id') %}
                                        {% set agencyCompilation = agencyIndexSite.getAgencyCompilation() %}
                                        {% set hasInCompilation = false %}
                                        {% set titleButtonCompilation = 'Добавить в подборку' %}
                                        {% if item.Advertisement.id in attribute(agencyCompilation, 'selection') %}
                                            {% set hasInCompilation = true %}
                                            {% set titleButtonCompilation = 'Убрать из подборки' %}
                                        {% endif %}
                                        <a href="#" title="{{ titleButtonCompilation }}" data-id="{{ item.Advertisement.id }}" data-agency-compilation-id="{{ attribute(agencyCompilation, 'id') }}" class="folder {{ hasInCompilation ? 'active' : ''}} collection"></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if similarOffers|length > 4 %}
                    <div class="pagination">
                        <button>показать еще</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
<!----------------- ADD OBJECTS END ------------------>

<!----------------- SHARE MODAL START ------------------>
<div class="share-modal modal">
    <div class="bg"></div>
    <div class="content">
        <div class="close"><span></span><span></span></div>
        <p class="title">Поделиться</p>
        <div class="links"></div>
    </div>
</div>
<!----------------- SHARE MODAL END ------------------>


<!----------------- NEW FOLDER MODAL START ------------------>
<div class="new-folder modal">
    <div class="bg"></div>
    <div class="content">
        <div class="close"><span></span><span></span></div>
        <p class="title">Создать новую подборку</p>
        <form action="">
            <input type="text" placeholder="Название подборки">
            <button type="submit" disabled>Готово</button>
        </form>
    </div>
</div>
<!----------------- NEW FOLDER MODAL END ------------------>
