{{ _view.assign('title', 'Новое объявление') }}
{{ html.script(['https://api-maps.yandex.ru/2.1/?lang=ru_RU', 'YandexMaps.locale/rus.js', 'YandexMaps.choose-object.js', 'Locations.Location/edit'], {'block': 'scriptCustom'}) }}
{% set complexCategorySearch = _view.loadHelper('ComplexCategories.ComplexCategorySearch') %}
{% set location = _view.loadHelper('Locations.Location') %}
{% set flash = _view.loadHelper('Flash') %}
<div class="new-obj wrap">
    <div class="breadcrumbs"><ul><li><a href="/agency/realty/add">Новое объявление</a></li></ul></div>
    {{ flash.render() }}
    <div class="tabs">
        <div class="wrapper">
            <p>Вид объекта</p>
            <div class="tabs__categories">
                <label class="active"  data-category-id="4">
                    <span>Дом или Таунхаус</span>
                </label>
                <label data-category-id="37">
                    <span>Земельный участок</span>
                </label>
                <label data-category-id="7">
                    <span>Квартира или Апартамент</span>
                </label>
                <label data-category-id="2">
                    <span>Коммерческая недвижимость</span>
                </label>
            </div>
        </div>
        <div class="tabs__content active" data-category="4">{{ croogo_region alias = "twig_realty_form_house" }}</div>
        <div class="tabs__content" data-category="37">{{ croogo_region alias = "twig_realty_form_lot" }}</div>
        <div class="tabs__content" data-category="7">{{ croogo_region alias = "twig_realty_form_flat" }}</div>
        <div class="tabs__content" data-category="2">{{ croogo_region alias = "twig_realty_form_commercial" }}</div>
    </div>
</div>
{{ _view.start('templateDownload') }}<script id="template-download" type="text/x-tmpl">{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { var fileIndex = o.options.getNumberOfFiles();%}
<div class="item template-download">
    <div data-number="{%=fileIndex%}" data-file="{%=file.name%}" style="background-image: url('/{%=file.thumbnailUrl%}')" class="img">
        {% if (file.deleteUrl) { %}
            <div class="delete-link delete delete-model" title="Удалить" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields="{"withCredentials":true}"{% } %}></div>
        {% } else { %}
            <div class="cancel-link cancel" title="Отмена"></div>
        {% } %}
    </div>
    {% if (file.error) { %}
        <span><span class="label label-danger">Error</span> {%=file.error%}</span>
    {% } %}
    <input type="hidden" name="data[AdvertisementPicture][{%=fileIndex%}][main]" value="0" id="AdvertisementPicture{%=fileIndex%}Main">
    <input type="hidden" name="data[AdvertisementPicture][{%=fileIndex%}][id]" value="" id="AdvertisementPicture{%=fileIndex%}Id">
    <input type="hidden" name="data[AdvertisementPicture][{%=fileIndex%}][make_copy]" value="{%=file.make_copy%}"  id="AdvertisementPicture{%=fileIndex%}MakeCopy">
    <input type="hidden" name="data[AdvertisementPicture][{%=fileIndex%}][advertisement_id]" value="" id="AdvertisementPicture{%=fileIndex%}AdvertisementId">
    <input type="hidden" name="data[AdvertisementPicture][{%=fileIndex%}][picture]" value="files/{%=file.name%}"  id="AdvertisementPicture{%=fileIndex%}Picture">
    <input type="hidden" name="data[AdvertisementPicture][{%=fileIndex%}][picture_small]" value="files/thumbnail/{%=file.name%}" id="AdvertisementPicture{%=fileIndex%}PictureSmall">
</div>
{% } %}
{% endverbatim %}</script>{{ _view.end() }}
{{ _view.set('block', {'Block': {'body': '{% verbatim %}' ~ _view.fetch('templateDownload') ~ '{% endverbatim %}'}}) }}
{{ _view.start('scriptCustom') }}
<div class="upload-form" style="display: none">
    {{ uploadForm.load({
        'url': '/file_upload/handler',
        'modelName': 'Advertisement',
        'pictureModelName': 'AdvertisementPicture',
        'foreignKey': 'advertisement_id',
        'container': '#AdvertisementPicture_list',
        'addBtn': false,
        'tmplDownload': 'Twig.twig_block',
    }) }}
</div>
{{ _view.end() }}
