<div class="compilition modal">
    <div class="bg"></div>
    <div class="content">
        <div class="close"><span></span><span></span></div>
        <p class="title">Добавить в подборку</p>
        <div class="preview">
        </div>
        <a href="#" class="newfolder">Создать новую подборку</a>
        <div class="list">
            {{ agencyCompilations }}
            {% if agencyCompilations %}
                {{ form.create(false, {'url': '/agency/agency_compilations/append'}) }}
                {{ form.hidden('id', {'value': id}) }}
                <div class="group">
                    <input type="radio" name="data[agency_compilation_id]" id="agency_compilation_id{{ agencyCompilationId }}" value="{{ agencyCompilationId }}" class="add-to-collection-block-content-item__checkbox">
                    {% for agencyCompilationId,agencyCompilationTitle in agencyCompilations %}
                        <label>
                            <input type="checkbox">
                            <p>{{ agencyCompilationTitle }}</p>
                        </label>
                    {% endfor %}
                </div>
                <button type="submit" disabled>Выберите подборку</button>
                {{ form.end() }}
            {% endif %}
        </div>
    </div>
</div>
