{% set flash = _view.loadHelper('Flash') %}
<div class="login wrap">
    {{ form.create('User', {'url': {'plugin' : 'users','controller' : 'users', 'action' : 'login'}}) }}
        <h1>Вход</h1>
        {{ flash.render() }}
        <div>
            {{ form.input('username', {
                'type': 'text',
                'div': false,
                'class': '',
                'required': true,
                'label': false,
                'placeholder': 'Номер телефона',
            }) }}
        </div>
        <div style="position:relative;">
            {{ form.input('password', {
                'type': 'password',
                'required': true,
                'label': false,
                'div': false,
                'class': '',
                'placeholder': 'Пароль',
            }) }}
            <button type="button" class="btn-toggle-password">
                <svg style="width: 24px; height: 24px;" data-password-show fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path></svg>
                <svg style="width: 24px; height: 24px;" data-password-hide class="hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"></path></svg>
            </button>
        </div>
        <button type="submit" class="btn">Вход</button>
     {{ form.end() }}
</div>
